<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadê Buffet?</title>
</head>
<body>
    <div id="app">
        <h1>Cadê Buffet?</h1>

        <input class="input" type="text" v-model="searchText" placeholder="Entre com um nome de buffet">

        <div class="msg" v-if="filtered_buffets.length <= 0">
            Nenhum Buffet encontrado!
        </div>

        <div class="list">
            <ul>
                <li v-for="buffet in filtered_buffets">
                    <div class="card">
                        <address>
                            Nome: {{ buffet.business_name }}
                            <br>
                            ID : {{ buffet.id }}
                        </address>
                        <button class="button-show" v-on:click="showBuffet(buffet.id)">Mostrar detalhes do buffet</button>
                    </div>
                </li>   
            </ul>
        </div>
        
        <div class="item" v-if="buffet.visible">
            <div>
                <button class="button-show-buffet" v-on:click="closeBuffet()">Fechar detalhes do buffet</button>
            </div>
            
            <p>{{ buffet.business_name }}:</p>
            <address>
                Nome: {{ buffet.business_name }}
                <br>
                ID : {{ buffet.id }}
                <br>
                Telefone : {{ buffet.contact_phone }}
                <br>
                Endereço : {{ buffet.address }}
                <br>
                Bairro : {{ buffet.district }}
                <br>
                Estado : {{ buffet.state }}
                <br>
                Cidade : {{ buffet.city }}
                <br>
                CEP : {{ buffet.postal_code }}
                <br>
                Descrição : {{ buffet.description }}
            </address>

            <button class="button-show-buffet" v-on:click="getBuffetTypes(buffet.id)">Mostrar tipos de buffet</button>
        </div>

        <div class="list" v-if="buffet_types.length > 0">
            <div>
                <button class="button-close" v-on:click="closeBuffetTypes()">Fechar tipos de buffet</button>
            </div>
            
            <p>Tipos de {{ buffet.business_name}}</p>
            <ul>
                <li v-for="buffet_type in buffet_types">
                    <div class="card">
                        <address>
                            Nome: {{ buffet_type.name }}
                            <br>
                            ID : {{ buffet_type.id }}
                        </address>

                        <button class="button-show-buffet-type" v-on:click="showBuffetType(buffet_type.id)">Mostrar detalhes do tipo de buffet</button>
                    </div>
                </li>   
            </ul>
        </div>

        <div class="item" v-if="buffet_type.visible">
            <div>
                <button class="button-close" v-on:click="closeBuffetType()">Fechar detalhes do tipo de buffet</button>
            </div>

            <div>
                <form action="">
                    <div class="input">
                        Data desejada para o evento:
                        <input type="date" v-model="buffet_type_available_date">
                    </div>
                    <div class="input">
                        Quantidade de pessoas:
                        <input type="number" v-model="buffet_type_available_number_of_guests">
                    </div>
                </form>
                <button class="available" v-on:click="getBuffetTypeAvailable()">Verificar disponibilidade</button>

                <div v-if="buffet_type_available">
                    <p>{{buffet_type_available_error}}</p>
                    <p>Evento Disponível por {{price}} reais</p>
                </div>
            </div>
            
            <p>Detalhes do tipo de buffet:</p>
            <address>
                Nome: {{ buffet_type.name }}
                <br>
                ID: {{ buffet_type.id }}
                <br>
                Descrição: {{ buffet_type.description }}
                <br>
                Quantidade máxima de pessoas: {{ buffet_type.max_capacity_people }}
                <br>
                Quantidade mínima de pessoas: {{ buffet_type.min_capacity_people }}
                <br>
                Duração: {{ buffet_type.duration }} minutos
                <br>
                Bebidas alcoolicas: {{ buffet_type.alcoholic_beverages ? 'Sim' : 'Não' }}
                <br>
                Decoração: {{ buffet_type.decoration ? 'Sim' : 'Não' }}
                <br>
                Serviço de estacionamento: {{ buffet_type.parking_valet ? 'Sim' : 'Não' }}
                <br>
                Endereço exclusivo: {{ buffet_type.exclusive_address ? 'Sim' : 'Não' }}
            </address>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>